@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body {
	position: relative;
	font-family: 'Sen', sans-serif;
    background-color: #181a1b;
    color: #e8e6e3;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: flex-start;
}

i {
	@apply h-4 py-[7px] w-4 block relative;

    @apply flex-shrink-0;
	animation: spin 4s linear infinite;
}

i::before {
    content: '';
    position: absolute;
    margin: auto;
    inset: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}